AI_EMAIL_MANAGER_WORKFLOW.json
{
  "name": "AI Email Manager - Outlook & Teams",
  "description": "AI-powered email management agent that reads Outlook emails and responds via Microsoft Teams chat",
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "errorHandler": null
  },
  "nodes": [
    {
      "parameters": {
        "path": "teams-email-manager",
        "authenticationType": "oAuth2",
        "options": {}
      },
      "id": "webhook-teams-trigger",
      "name": "Webhook - Teams Chat Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getMessages",
        "resource": "chatMessage",
        "channelId": "={{ $node[\"Webhook - Teams Chat Trigger\"].json.body.channelId }}",
        "limit": 50
      },
      "id": "teams-get-messages",
      "name": "Get Recent Messages",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "getEmails",
        "resource": "message",
        "mailbox": "user",
        "limit": 10,
        "simplifyOutput": false
      },
      "id": "outlook-get-emails",
      "name": "Get Unread Emails",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        300,
        500
      ]
    },
    {
      "parameters": {
        "operation": "getEvent",
        "resource": "event",
        "eventIdType": "id"
      },
      "id": "outlook-get-event",
      "name": "Check Calendar for Context",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        500,
        500
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "expression": "={{ JSON.stringify($node[\"Get Unread Emails\"].json) }}"
      },
      "id": "set-email-context",
      "name": "Prepare Email Context",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "messages": {
          "messageValues": [
            {
              "content": "You are an AI Email Management Assistant. Analyze the provided emails and Teams chat context, then provide intelligent suggestions for responses.\n\nEmails:\n={{ $node[\"Get Unread Emails\"].json }}\n\nTeams Chat Context:\n={{ $node[\"Get Recent Messages\"].json }}\n\nProvide a JSON response with:\n1. Summary of unread emails\n2. Suggested response to the Teams message\n3. Recommended actions (reply, forward, archive, etc.)\n4. Priority level (high, medium, low)"
            }
          ]
        }
      },
      "id": "openai-analyze-emails",
      "name": "AI Analyze Emails & Context",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 3,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "https://graph.microsoft.com/v1.0/me/mailFolders/inbox/messages",
        "authentication": "oAuth2",
        "options": {
          "headers": {
            "Content-Type": "application/json"
          }
        },
        "body": {
          "subject": "Email Summary",
          "bodyPreview": "AI-generated email summary from today's messages"
        }
      },
      "id": "graph-api-create-draft",
      "name": "Create Draft Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "resource": "chatMessage",
        "channelId": "={{ $node[\"Webhook - Teams Chat Trigger\"].json.body.channelId }}",
        "message": "={{ $node[\"AI Analyze Emails & Context\"].json.choices[0].message.content }}"
      },
      "id": "teams-send-response",
      "name": "Send AI Response to Teams",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        1100,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "resource": "message",
        "messageId": "={{ $node[\"Get Unread Emails\"].json[0].id }}",
        "isRead": true
      },
      "id": "outlook-mark-read",
      "name": "Mark Emails as Read",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "operation": "sendEmail",
        "resource": "message",
        "toRecipients": "={{ $node[\"Get Unread Emails\"].json[0].from.emailAddress.address }}",
        "subject": "Auto-Reply: Thanks for your email",
        "bodyContent": "={{ $node[\"AI Analyze Emails & Context\"].json.choices[0].message.content }}"
      },
      "id": "outlook-send-email",
      "name": "Send Email Reply",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1100,
        500
      ]
    },
    {
      "parameters": {},
      "id": "no-op-end",
      "name": "Workflow Complete",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1300,
        400
      ]
    }
  ],
  "connections": {
    "Webhook - Teams Chat Trigger": {
      "main": [
        [
          {
            "node": "Get Recent Messages",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Unread Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Messages": {
      "main": [
        [
          {
            "node": "Prepare Email Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unread Emails": {
      "main": [
        [
          {
            "node": "Prepare Email Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Email Context": {
      "main": [
        [
          {
            "node": "AI Analyze Emails & Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Analyze Emails & Context": {
      "main": [
        [
          {
            "node": "Send AI Response to Teams",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create Draft Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Draft Response": {
      "main": [
        [
          {
            "node": "Send Email Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send AI Response to Teams": {
      "main": [
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Emails as Read": {
      "main": [
        [
          {
            "node": "Send Email Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email Reply": {
      "main": [
        [
          {
            "node": "Workflow Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
