broken-full.json
{
  "createdAt": "2025-06-15T22:54:49.604Z",
  "updatedAt": "2025-11-25T10:30:28.419Z",
  "id": "Baf9nylVDD1pzj9Q",
  "name": "🎯 Ultimate AI Outlook Assistant - Proper Nodes",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook_trigger",
      "name": "🌐 API Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "outlook-ai-ultimate",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "typeVersion": 1,
      "credentials": {},
      "webhookId": "45bfa5d7-f38a-4030-8881-758c6eaffb15"
    },
    {
      "id": "manual_trigger",
      "name": "▶️ Manual Test",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        500
      ],
      "parameters": {},
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "id": "smart_router",
      "name": "🧠 Smart Request Router",
      "type": "n8n-nodes-base.code",
      "position": [
        450,
        400
      ],
      "parameters": {
        "jsCode": "const input = items[0].json;\nconst timestamp = new Date().toISOString();\n\nconst requestType = input.action || (input.message ? 'chat' : 'auto_process');\nconst aiProvider = input.ai_provider || 'openai';\n\nconst routingData = {\n  requestType,\n  userMessage: input.message || input.query || 'Process my emails',\n  userId: input.user_id || 'default',\n  sessionId: input.session_id || `session_${Date.now()}`,\n  emailConfig: {\n    daysBack: parseInt(input.days_back) || 7,\n    unreadOnly: input.unread_only !== false,\n    maxEmails: parseInt(input.max_emails) || 50\n  },\n  aiConfig: {\n    provider: aiProvider,\n    model: input.model || 'gpt-4o-mini',\n    temperature: parseFloat(input.temperature) || 0.7,\n    maxTokens: parseInt(input.max_tokens) || 1500\n  },\n  metadata: {\n    requestId: `req_${Date.now()}`,\n    timestamp,\n    source: input.source || 'api'\n  }\n};\n\nreturn [{ json: routingData }];"
      },
      "typeVersion": 3,
      "credentials": {}
    },
    {
      "id": "request_dispatcher",
      "name": "🚦 Request Dispatcher",
      "type": "n8n-nodes-base.switch",
      "position": [
        650,
        400
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.requestType }}",
                    "value2": "chat",
                    "operation": "equals"
                  }
                ]
              }
            },
            {
              "conditions": {
                "string": [
                  {
                    "value1": "={{ $json.requestType }}",
                    "value2": "auto_process",
                    "operation": "equals"
                  }
                ]
              }
            }
          ]
        }
      },
      "typeVersion": 1,
      "credentials": {}
    },
    {
      "id": "outlook_email_fetcher",
      "name": "📧 Microsoft Graph Email Fetcher",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        850,
        400
      ],
      "parameters": {
        "requestMethod": "GET",
        "url": "https://graph.microsoft.com/v1.0/me/mailfolders/inbox/messages",
        "qs": {
          "$top": "={{ $json.emailConfig.maxEmails }}",
          "$select": "id,subject,body,bodyPreview,from,to,receivedDateTime,hasAttachments,importance"
        },
        "authentication": "predefinedCredential",
        "nodeCredentialType": "microsoftGraphApi",
        "options": {}
      },
      "typeVersion": 5,
      "credentials": {}
    },
    {
      "id": "email_intelligence",
      "name": "🔍 Email Intelligence Processor",
      "type": "n8n-nodes-base.code",
      "position": [
        1050,
        400
      ],
      "parameters": {
        "jsCode": "const emails = items[0].json.value || [];\nconst processedEmails = [];\n\nfor (const email of emails) {\n  const content = {\n    id: email.id,\n    subject: email.subject || 'No Subject',\n    body: email.body?.content || email.bodyPreview || '',\n    sender: email.from?.emailAddress?.address || '',\n    senderName: email.from?.emailAddress?.name || '',\n    receivedDateTime: email.receivedDateTime,\n    importance: email.importance || 'normal',\n    hasAttachments: email.hasAttachments || false\n  };\n  \n  const fullText = (content.subject + ' ' + content.body).toLowerCase();\n  \n  let category = 'general';\n  if (/urgent|asap|immediately/i.test(fullText)) category = 'urgent';\n  else if (/meeting|project|deadline/i.test(fullText)) category = 'business';\n  else if (/invoice|payment|bill/i.test(fullText)) category = 'financial';\n  \n  const analysis = {\n    category,\n    urgency: /urgent|asap|immediately/i.test(fullText) ? 'high' : 'normal',\n    sentiment: 'neutral'\n  };\n  \n  processedEmails.push({\n    json: {\n      ...content,\n      analysis,\n      processingTimestamp: new Date().toISOString()\n    }\n  });\n}\n\nreturn processedEmails;"
      },
      "typeVersion": 3,
      "credentials": {}
    },
    {
      "id": "ai_chat_handler",
      "name": "🤖 AI Chat Handler",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        850,
        200
      ],
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredential",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "{\n  \"model\": \"{{ $json.aiConfig.model }}\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an expert AI email assistant. Provide helpful responses based on user queries about their emails.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.userMessage }}\"\n    }\n  ],\n  \"max_tokens\": {{ $json.aiConfig.maxTokens }},\n  \"temperature\": {{ $json.aiConfig.temperature }}\n}",
        "options": {}
      },
      "typeVersion": 5,
      "credentials": {}
    },
    {
      "id": "final_response",
      "name": "📊 Final Response Formatter",
      "type": "n8n-nodes-base.code",
      "position": [
        1250,
        400
      ],
      "parameters": {
        "jsCode": "const allResults = items;\nconst timestamp = new Date().toISOString();\n\nconst response = {\n  status: 'success',\n  timestamp,\n  emailsProcessed: 0,\n  insights: [],\n  aiResponse: '',\n  recommendations: []\n};\n\nallResults.forEach(item => {\n  const data = item.json;\n  \n  if (data.analysis) {\n    response.emailsProcessed++;\n    response.insights.push({\n      id: data.id,\n      subject: data.subject,\n      category: data.analysis.category,\n      urgency: data.analysis.urgency\n    });\n  }\n  \n  if (data.choices && data.choices[0]) {\n    response.aiResponse = data.choices[0].message.content;\n  }\n});\n\nif (response.emailsProcessed > 5) {\n  response.recommendations.push('Consider setting up email filters for better organization');\n}\n\nresponse.summary = `Processed ${response.emailsProcessed} emails. Found ${response.insights.filter(i => i.urgency === 'high').length} urgent items.`;\n\nreturn [{ json: response }];"
      },
      "typeVersion": 3,
      "credentials": {}
    }
  ],
  "connections": {
    "🌐 API Webhook": {
      "main": [
        [
          {
            "node": "🧠 Smart Request Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "▶️ Manual Test": {
      "main": [
        [
          {
            "node": "🧠 Smart Request Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🧠 Smart Request Router": {
      "main": [
        [
          {
            "node": "🚦 Request Dispatcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🚦 Request Dispatcher": {
      "main": [
        [
          {
            "node": "📧 Microsoft Graph Email Fetcher",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "🤖 AI Chat Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 Microsoft Graph Email Fetcher": {
      "main": [
        [
          {
            "node": "🔍 Email Intelligence Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔍 Email Intelligence Processor": {
      "main": [
        [
          {
            "node": "📊 Final Response Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🤖 AI Chat Handler": {
      "main": [
        [
          {
            "node": "📊 Final Response Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "executionTimeout": 3600,
    "timezone": "UTC"
  },
  "staticData": {},
  "meta": null,
  "pinData": null,
  "versionId": "0e33d155-794d-4c8a-9250-7d79f2d5ef5b",
  "triggerCount": 1,
  "shared": [
    {
      "createdAt": "2025-06-15T22:54:49.605Z",
      "updatedAt": "2025-06-15T22:54:49.605Z",
      "role": "workflow:owner",
      "workflowId": "Baf9nylVDD1pzj9Q",
      "projectId": "KAqEj3HHvji8AcGd",
      "project": {
        "createdAt": "2025-06-09T17:28:06.319Z",
        "updatedAt": "2025-06-09T17:29:23.291Z",
        "id": "KAqEj3HHvji8AcGd",
        "name": "Christopher Boyd <chrisboyd1993@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "projectRelations": [
          {
            "createdAt": "2025-06-09T17:28:06.319Z",
            "updatedAt": "2025-06-09T17:28:06.319Z",
            "role": "project:personalOwner",
            "userId": "264ff696-8392-4df1-b443-8920770f237d",
            "projectId": "KAqEj3HHvji8AcGd",
            "user": {
              "createdAt": "2025-06-09T17:28:05.803Z",
              "updatedAt": "2025-11-25T05:06:37.000Z",
              "id": "264ff696-8392-4df1-b443-8920770f237d",
              "email": "chrisboyd1993@gmail.com",
              "firstName": "Christopher",
              "lastName": "Boyd",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2025-06-09T17:29:50.900Z",
                "personalization_survey_n8n_version": "1.94.1",
                "automationGoalDevops": [
                  "other"
                ],
                "automationGoalDevopsOther": "mcp for n8n",
                "companySize": "<20",
                "companyType": "digital-agency",
                "role": "it",
                "reportedSource": "youtube"
              },
              "settings": {
                "userActivated": true,
                "easyAIWorkflowOnboarded": true,
                "firstSuccessfulWorkflowId": "ztI8kh0A93SjZyBE",
                "userActivatedAt": 1749519267551,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1749851231575
                },
                "dismissedCallouts": {
                  "aiAgentStarterCallout": true
                }
              },
              "role": "global:owner",
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2025-11-25",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": []
}