fleet-workflow.json
{"name": "FLEET - Vehicle Rental Pricing Advisor", "nodes": [{"parameters": {"public": true, "initialMessages": "=Hi! I'm **FLEET** \u00e2\u20ac\u201d your AI-powered vehicle rental pricing and profitability advisor.\n\nI can help you:\n\u00e2\u20ac\u00a2 **Add vehicles** and track your cost structure\n\u00e2\u20ac\u00a2 **Log expenses** (gas, repairs, insurance, cleaning)\n\u00e2\u20ac\u00a2 **Log completed trips** and calculate net earnings\n\u00e2\u20ac\u00a2 **Recommend pricing** based on your costs + market data\n\u00e2\u20ac\u00a2 **Analyze profitability** (P&L, ROI, break-even)\n\nWhat would you like to do?", "options": {}}, "id": "fleet-chat-trigger", "name": "Chat Trigger", "type": "@n8n/n8n-nodes-langchain.chatTrigger", "typeVersion": 1.1, "position": [-200, 0], "webhookId": "fleet-chat-trigger-id"}, {"parameters": {"options": {"systemMessage": "=# Identity\nYou are FLEET \u00e2\u20ac\u201d an AI-powered vehicle rental pricing and profitability advisor\nfor Turo hosts. You help hosts maximize profit through smart pricing, cost tracking,\nand financial analysis.\n\n# Tools Available\n\n## Google Sheets Tool\nRead and write data across 5 tabs in the host's spreadsheet:\n- \"Vehicles\" tab: Vehicle catalog with cost structure\n  Columns: Vehicle ID, Make, Model, Year, City, State, Purchase Price, Monthly Insurance, Monthly Parking, Monthly Loan, Clean Cost/Trip, Platform Fee %, Protection Plan %, Target Days/Mo, Min Daily Rate, Current Daily Rate, Active\n- \"Expenses\" tab: Ongoing expense log (gas, repairs, insurance, etc.)\n  Columns: Date, Vehicle ID, Category, Amount, Description, Miles\n- \"Trips\" tab: Completed trip revenue log\n  Columns: Trip Start, Trip End, Vehicle ID, Days, Daily Rate, Gross Revenue, Platform Fees, Net Revenue, Miles Driven, Notes\n- \"Market Comps\" tab: Competitor pricing observations\n  Columns: Date, City, Vehicle Type, Competitor Rate, Platform, Notes\n- \"Dashboard\" tab: Summary metrics per vehicle\n  Columns: Vehicle, This Month Revenue, This Month Costs, Net Profit, Profit Margin %, Days Booked, Utilization %, Break-Even Rate, Market Avg Rate, Recommended Rate, Last Updated\n\n## Code Tool\nRun JavaScript for financial calculations. Pass JSON: { \"task\": \"...\", \"data\": {...} }\nAvailable tasks:\n- \"break_even\": Calculate minimum viable daily rate given costs\n- \"monthly_pnl\": Calculate P&L from trips and expenses for a period\n- \"pricing_recommendation\": Recommend rates based on costs + market data\n- \"roi\": Calculate return on investment for a vehicle\n- \"depreciation\": Calculate depreciation cost per mile/day\n\n## Think Tool\nUse for structured reasoning before making pricing or profitability recommendations.\n\n## Calculator\nQuick arithmetic when you don't need the full Code Tool.\n\n# Core Capabilities\n\n## 1. Vehicle Management\nWhen a host wants to add a vehicle:\n- Ask for: Make, Model, Year, City, State\n- Ask for costs: Monthly insurance, parking, loan payment, cleaning cost per trip\n- Ask for platform: Commission % and protection plan %\n- Ask for goals: Target days/month, minimum daily rate\n- Generate a Vehicle ID (V001, V002, etc.) \u00e2\u20ac\u201d read Vehicles tab first to get the next ID\n- Write to the \"Vehicles\" tab\n- Calculate and share their break-even rate immediately\n\n## 2. Expense Tracking\nWhen a host logs an expense:\n- Parse: category, amount, vehicle, date, description\n- Categories: gas, repair, maintenance, cleaning, insurance, parking, registration, other\n- For gas: ask for miles driven to track fuel economy\n- Write to \"Expenses\" tab\n- Confirm the entry and share running monthly total for that category\n\n## 3. Trip Logging\nWhen a host logs a completed trip:\n- Parse: vehicle, start date, end date, daily rate, miles driven\n- Calculate: days, gross revenue, platform fees, net revenue\n- Platform fees = gross_revenue \u00c3\u2014 (1 - protection_plan_pct / 100)\n- Write to \"Trips\" tab\n- Share net earnings and running monthly total\n\n## 4. Market Data\nWhen a host shares competitor pricing:\n- Parse: city, vehicle type, rate, platform\n- Write to \"Market Comps\" tab\n- Compare to their current rate and comment on positioning\n\n## 5. Pricing Recommendations\nWhen asked \"What should I charge?\":\n1. Read the vehicle's cost structure from \"Vehicles\" tab\n2. Use Code Tool with \"break_even\" to calculate minimum viable rate (MVR)\n3. Read \"Market Comps\" for their city/vehicle class\n4. Use Think Tool to reason about optimal positioning\n5. Recommend specific rates:\n   - Weekday rate\n   - Weekend rate (+15-25% over weekday)\n   - Minimum (floor = MVR)\n6. Explain the reasoning in plain language\n7. Update \"Dashboard\" tab with recommendation\n\n### Break-Even Formula\nMVR = (monthly_fixed_costs / target_days + variable_cost_per_day + depreciation_per_day) / host_receive_pct\nWhere:\n- monthly_fixed_costs = insurance + parking + loan + (registration/12)\n- variable_cost_per_day = cleaning_cost / avg_trip_days (assume 2)\n- depreciation_per_day = $0.33/mile \u00c3\u2014 40 miles/day (IRS rate)\n- host_receive_pct = protection_plan_pct \u00c3\u2014 (1 - platform_fee_pct)\n\n## 6. Profitability Analysis\nWhen asked \"Am I making money?\":\n1. Read trips and expenses for the requested period\n2. Use Code Tool with \"monthly_pnl\" to calculate:\n   - Gross revenue, platform fees, net revenue\n   - Expense breakdown by category\n   - Depreciation (miles \u00c3\u2014 $0.33)\n   - Fixed costs (from vehicle config)\n   - Net profit and margin %\n3. Compare actual vs. target\n4. Identify biggest cost driver\n5. Suggest one specific action to improve profitability\n6. Update \"Dashboard\" tab\n\n# Rules\n1. Always identify which vehicle before any operation (if host has multiple)\n2. NEVER recommend pricing below the break-even rate (MVR)\n3. Be specific with dollar amounts \u00e2\u20ac\u201d hosts are running businesses\n4. After logging expenses or trips, always offer a profitability check\n5. When market data is missing, say so and ask the host to enter comps\n6. Lead with the answer, then explain reasoning\n7. Round currency to 2 decimal places, percentages to 1 decimal\n\n# Tone\nDirect, numbers-focused, efficient. These are small business owners, not casual users.\nLead with actionable insights. Skip unnecessary pleasantries."}}, "id": "fleet-advisor-agent", "name": "FLEET Advisor", "type": "@n8n/n8n-nodes-langchain.agent", "typeVersion": 1.7, "position": [100, 0], "onError": "continueErrorOutput"}, {"parameters": {"model": "gpt-4o", "options": {"temperature": 0.3}}, "id": "fleet-openai-model", "name": "OpenAI Chat Model", "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi", "typeVersion": 1.2, "position": [0, 200]}, {"parameters": {"sessionIdOption": "customKey", "sessionKey": "=fleet-{{ $json.sessionId }}-{{ new Date().toISOString().slice(0, 10) }}", "tableName": "n8n_chat_histories", "contextWindowLength": 15}, "id": "fleet-postgres-memory", "name": "Postgres Chat Memory", "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat", "typeVersion": 1.3, "position": [200, 200]}, {"parameters": {}, "id": "fleet-think-tool", "name": "Think Tool", "type": "@n8n/n8n-nodes-langchain.toolThink", "typeVersion": 1, "position": [-100, 400]}, {"parameters": {}, "id": "fleet-calculator-tool", "name": "Calculator Tool", "type": "@n8n/n8n-nodes-langchain.toolCalculator", "typeVersion": 1, "position": [0, 400]}, {"parameters": {"operation": "read", "documentId": {"__rl": true, "mode": "list", "value": ""}, "sheetName": {"__rl": true, "mode": "list", "value": ""}}, "id": "fleet-sheets-tool", "name": "Google Sheets Tool", "type": "@n8n/n8n-nodes-langchain.toolGoogleSheets", "typeVersion": 4.7, "position": [200, 400]}, {"parameters": {"name": "financial_calculator", "description": "Run financial calculations for vehicle rental business. Send a JSON string with {\"task\": \"task_name\", \"data\": {...}}. Available tasks: break_even, monthly_pnl, pricing_recommendation, roi, depreciation.", "jsCode": "try {\n  const { task, data } = JSON.parse(query);\n\n  if (task === 'break_even') {\n    const fixedMonthly = (Number(data.monthly_insurance) || 0)\n      + (Number(data.monthly_parking) || 0)\n      + (Number(data.monthly_loan) || 0);\n    const targetDays = Number(data.target_days) || 15;\n    const cleanCost = Number(data.clean_cost) || 35;\n    const avgTripDays = 2;\n    const variablePerDay = cleanCost / avgTripDays;\n    const depreciationPerDay = 0.33 * 40;\n    const platformPct = (Number(data.platform_fee_pct) || 25) / 100;\n    const protectionPct = (Number(data.protection_plan_pct) || 80) / 100;\n    const hostReceivePct = protectionPct * (1 - platformPct);\n    const mvr = ((fixedMonthly / targetDays) + variablePerDay + depreciationPerDay) / hostReceivePct;\n    const breakEvenDays = Math.ceil(fixedMonthly / (mvr * hostReceivePct - variablePerDay - depreciationPerDay));\n    return JSON.stringify({\n      minimum_viable_rate: Math.ceil(mvr),\n      fixed_monthly_cost: fixedMonthly.toFixed(2),\n      variable_cost_per_day: variablePerDay.toFixed(2),\n      depreciation_per_day: depreciationPerDay.toFixed(2),\n      host_receive_pct: (hostReceivePct * 100).toFixed(1) + '%',\n      break_even_days: breakEvenDays\n    });\n  }\n\n  if (task === 'monthly_pnl') {\n    const trips = data.trips || [];\n    const expenses = data.expenses || [];\n    const vehicle = data.vehicle || {};\n    const grossRevenue = trips.reduce((s, t) => s + (Number(t.gross_revenue) || 0), 0);\n    const platformFees = trips.reduce((s, t) => s + (Number(t.platform_fees) || 0), 0);\n    const netRevenue = grossRevenue - platformFees;\n    const expenseByCategory = {};\n    let totalExpenses = 0;\n    expenses.forEach(e => {\n      const cat = e.category || 'other';\n      const amt = Number(e.amount) || 0;\n      expenseByCategory[cat] = (expenseByCategory[cat] || 0) + amt;\n      totalExpenses += amt;\n    });\n    const totalMiles = trips.reduce((s, t) => s + (Number(t.miles_driven) || 0), 0);\n    const depreciation = totalMiles * 0.33;\n    const fixedMonthly = (Number(vehicle.monthly_insurance) || 0)\n      + (Number(vehicle.monthly_parking) || 0)\n      + (Number(vehicle.monthly_loan) || 0);\n    const totalCosts = totalExpenses + depreciation + fixedMonthly;\n    const netProfit = netRevenue - totalCosts;\n    const totalDays = trips.reduce((s, t) => s + (Number(t.days) || 0), 0);\n    const margin = grossRevenue > 0 ? ((netProfit / grossRevenue) * 100).toFixed(1) : '0.0';\n    return JSON.stringify({\n      gross_revenue: grossRevenue.toFixed(2),\n      platform_fees: platformFees.toFixed(2),\n      net_revenue: netRevenue.toFixed(2),\n      expense_breakdown: expenseByCategory,\n      total_variable_expenses: totalExpenses.toFixed(2),\n      depreciation: depreciation.toFixed(2),\n      fixed_costs: fixedMonthly.toFixed(2),\n      total_costs: totalCosts.toFixed(2),\n      net_profit: netProfit.toFixed(2),\n      profit_margin_pct: margin,\n      days_booked: totalDays,\n      utilization_pct: ((totalDays / 30) * 100).toFixed(1),\n      total_miles: totalMiles,\n      biggest_cost: Object.entries(expenseByCategory).sort((a, b) => b[1] - a[1])[0] || ['none', 0]\n    });\n  }\n\n  if (task === 'pricing_recommendation') {\n    const mvr = Number(data.mvr) || 0;\n    const marketAvg = Number(data.market_avg) || 0;\n    const currentRate = Number(data.current_rate) || 0;\n    const utilization = Number(data.utilization) || 50;\n    let weekdayRate = Math.max(mvr, marketAvg * 0.9);\n    let weekendRate = weekdayRate * 1.2;\n    if (utilization > 80) { weekdayRate *= 1.1; weekendRate *= 1.15; }\n    if (utilization < 40) { weekdayRate *= 0.95; }\n    weekdayRate = Math.max(weekdayRate, mvr);\n    weekendRate = Math.max(weekendRate, mvr);\n    return JSON.stringify({\n      recommended_weekday: Math.ceil(weekdayRate),\n      recommended_weekend: Math.ceil(weekendRate),\n      minimum_floor: Math.ceil(mvr),\n      market_average: marketAvg.toFixed(2),\n      current_rate: currentRate.toFixed(2),\n      position_vs_market: currentRate > 0 && marketAvg > 0\n        ? ((currentRate / marketAvg) * 100).toFixed(0) + '% of market avg'\n        : 'no market data'\n    });\n  }\n\n  if (task === 'roi') {\n    const price = Number(data.purchase_price) || 1;\n    const profit = Number(data.annual_net_profit) || 0;\n    const roi = (profit / price) * 100;\n    const paybackMonths = profit > 0 ? Math.ceil((price / profit) * 12) : Infinity;\n    return JSON.stringify({\n      annual_roi_pct: roi.toFixed(1),\n      payback_months: paybackMonths,\n      monthly_avg_profit: (profit / 12).toFixed(2)\n    });\n  }\n\n  if (task === 'depreciation') {\n    const miles = Number(data.miles_this_period) || 0;\n    const irsCost = miles * 0.33;\n    const irsTotal = miles * 0.70;\n    return JSON.stringify({\n      depreciation_cost: irsCost.toFixed(2),\n      irs_total_deduction: irsTotal.toFixed(2),\n      miles: miles,\n      rate_per_mile: '$0.33 (IRS depreciation component)'\n    });\n  }\n\n  return JSON.stringify({ error: 'Unknown task', task });\n} catch (e) {\n  return 'Error: ' + e.message + '. Send JSON: {\"task\": \"break_even\", \"data\": {...}}';\n}"}, "id": "fleet-code-tool", "name": "Financial Calculator Code", "type": "@n8n/n8n-nodes-langchain.toolCode", "typeVersion": 1.3, "position": [400, 400]}, {"parameters": {"assignments": {"assignments": [{"id": "success-response", "name": "response", "value": "={{ $json.output }}", "type": "string"}]}, "options": {}}, "id": "fleet-success-response", "name": "Success Response", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [500, -80]}, {"parameters": {"assignments": {"assignments": [{"id": "try-again-response", "name": "response", "value": "I ran into an issue processing that. Could you rephrase your request? If the problem persists, try being more specific about which vehicle or what data you need.", "type": "string"}]}, "options": {}}, "id": "fleet-try-again", "name": "Try Again", "type": "n8n-nodes-base.set", "typeVersion": 3.4, "position": [500, 80]}, {"parameters": {"conditions": {"options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"}, "conditions": [], "combinator": "and"}}, "id": "fleet-error-trigger", "name": "Error Trigger", "type": "n8n-nodes-base.errorTrigger", "typeVersion": 1, "position": [-200, -200]}, {"parameters": {"jsCode": "const errorMessage = $json.execution?.error?.message || 'Unknown error';\nconst workflowName = $json.workflow?.name || 'FLEET';\nconst timestamp = new Date().toISOString();\n\nreturn [{\n  json: {\n    error: errorMessage,\n    workflow: workflowName,\n    timestamp: timestamp,\n    summary: `FLEET Error at ${timestamp}: ${errorMessage}`\n  }\n}];"}, "id": "fleet-format-error", "name": "Format Error", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [0, -200]}, {"parameters": {"content": "## FLEET \u00e2\u20ac\u201d Vehicle Rental Pricing Advisor\n\n**Purpose**: AI-powered Turo host advisor for pricing, cost tracking, and profitability analysis.\n\n**Data Store**: Google Sheets (5 tabs: Vehicles, Expenses, Trips, Market Comps, Dashboard)\n\n**Capabilities**:\n1. Vehicle onboarding with cost structure\n2. Expense tracking (gas, repairs, insurance, etc.)\n3. Trip logging with fee calculations\n4. Market competitor data entry\n5. Break-even & pricing recommendations\n6. Monthly P&L and ROI analysis\n\n**Setup Required**:\n- Create Google Sheet with 5 tabs (see plan)\n- Configure Google Sheets OAuth2 credential\n- Configure OpenAI API credential\n- Configure Postgres credential\n- Link Google Sheets Tool to your spreadsheet", "height": 460, "width": 360}, "id": "fleet-note-overview", "name": "Note: Overview", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-600, -400]}, {"parameters": {"content": "## Agent Tools\n\n- **Think Tool**: Structured reasoning before recommendations\n- **Calculator Tool**: Quick arithmetic\n- **Google Sheets Tool**: Read/write all 5 data tabs\n- **Financial Calculator Code**: Break-even, P&L, pricing, ROI, depreciation\n\n**Code Tool Tasks**:\n```\nbreak_even \u00e2\u2020\u2019 minimum viable rate\nmonthly_pnl \u00e2\u2020\u2019 profit & loss statement\npricing_recommendation \u00e2\u2020\u2019 rate suggestions\nroi \u00e2\u2020\u2019 return on investment\ndepreciation \u00e2\u2020\u2019 IRS mileage costs\n```", "height": 340, "width": 360}, "id": "fleet-note-tools", "name": "Note: Tools", "type": "n8n-nodes-base.stickyNote", "typeVersion": 1, "position": [-600, 100]}], "connections": {"Chat Trigger": {"main": [[{"node": "FLEET Advisor", "type": "main", "index": 0}]]}, "FLEET Advisor": {"main": [[{"node": "Success Response", "type": "main", "index": 0}], [{"node": "Try Again", "type": "main", "index": 0}]]}, "OpenAI Chat Model": {"ai_languageModel": [[{"node": "FLEET Advisor", "type": "ai_languageModel", "index": 0}]]}, "Postgres Chat Memory": {"ai_memory": [[{"node": "FLEET Advisor", "type": "ai_memory", "index": 0}]]}, "Think Tool": {"ai_tool": [[{"node": "FLEET Advisor", "type": "ai_tool", "index": 0}]]}, "Calculator Tool": {"ai_tool": [[{"node": "FLEET Advisor", "type": "ai_tool", "index": 0}]]}, "Google Sheets Tool": {"ai_tool": [[{"node": "FLEET Advisor", "type": "ai_tool", "index": 0}]]}, "Financial Calculator Code": {"ai_tool": [[{"node": "FLEET Advisor", "type": "ai_tool", "index": 0}]]}, "Error Trigger": {"main": [[{"node": "Format Error", "type": "main", "index": 0}]]}}, "settings": {"executionOrder": "v1"}}