workflow-get-response.json
{
  "success": true,
  "data": {
    "createdAt": "2025-10-02T21:38:15.448Z",
    "updatedAt": "2025-10-04T04:07:37.977Z",
    "id": "3tiHPw5yRh1lyanL",
    "name": "AI Email Agent with Teams Bot",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "pollTimes": {
            "item": [
              {
                "mode": "everyMinute"
              }
            ]
          },
          "output": "raw"
        },
        "id": "1",
        "name": "Monitor New Emails",
        "type": "n8n-nodes-base.microsoftOutlookTrigger",
        "position": [
          240,
          300
        ],
        "typeVersion": 1
      },
      {
        "id": "4a6c79a0-1956-4e66-b206-c30a0aa2e07c",
        "name": "Filter Important Emails",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 1,
        "position": [
          460,
          300
        ],
        "parameters": {
          "conditions": {
            "string": [
              {
                "value1": "={{$json.subject}}",
                "operation": "contains",
                "value2": "urgent"
              }
            ]
          }
        }
      },
      {
        "id": "7f129a89-7e65-41ae-b836-e4cf381d9d70",
        "name": "Analyze Email with AI",
        "type": "n8n-nodes-base.openAi",
        "typeVersion": 1,
        "position": [
          680,
          300
        ],
        "parameters": {
          "resource": "text",
          "operation": "message",
          "text": "Analyze this email and provide: 1) Urgency level (Low/Medium/High), 2) Category (Support/Sales/General), 3) Summary in 2 sentences. Email: Subject={{$json.subject}}, Body={{$json.bodyPreview}}"
        }
      },
      {
        "id": "b31ba1ec-c7e0-46c2-a0c7-69a4d8184088",
        "name": "Send Teams Alert",
        "type": "n8n-nodes-base.microsoftTeams",
        "typeVersion": 1,
        "position": [
          900,
          300
        ],
        "parameters": {
          "resource": "channelMessage",
          "operation": "create",
          "messageText": "🚨 **Urgent Email Alert**\n\n**From:** {{$node[\"Monitor New Emails\"].json.from}}\n**Subject:** {{$node[\"Monitor New Emails\"].json.subject}}\n**Analysis:** {{$json.choices[0].message.content}}"
        }
      },
      {
        "id": "a68db407-a684-479f-ad42-3a2236cb70cf",
        "name": "Teams Bot Trigger",
        "type": "n8n-nodes-base.microsoftTeamsTrigger",
        "typeVersion": 1,
        "position": [
          240,
          500
        ],
        "parameters": {}
      },
      {
        "id": "d57008e7-f80b-463d-b656-8a7a124a76bd",
        "name": "AI Response to Chat",
        "type": "n8n-nodes-base.openAi",
        "typeVersion": 1,
        "position": [
          460,
          500
        ],
        "parameters": {
          "resource": "text",
          "operation": "message",
          "text": "You are an email assistant bot. Answer this question based on recent emails: {{$json.text}}"
        }
      },
      {
        "id": "0946d266-c9b5-4700-93a9-ad8933448691",
        "name": "Send Chat Response",
        "type": "n8n-nodes-base.microsoftTeams",
        "typeVersion": 1,
        "position": [
          680,
          500
        ],
        "parameters": {
          "resource": "channelMessage",
          "operation": "create",
          "messageText": "{{$json.choices[0].message.content}}"
        }
      }
    ],
    "connections": {
      "Monitor New Emails": {
        "main": [
          [
            {
              "node": "Filter Important Emails",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Important Emails": {
        "main": [
          [
            {
              "node": "Analyze Email with AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze Email with AI": {
        "main": [
          [
            {
              "node": "Send Teams Alert",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Teams Bot Trigger": {
        "main": [
          [
            {
              "node": "AI Response to Chat",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Response to Chat": {
        "main": [
          [
            {
              "node": "Send Chat Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {},
    "staticData": null,
    "meta": null,
    "pinData": null,
    "versionId": "13bc9aab-3217-4fee-ae7d-5f02d86fbf50",
    "triggerCount": 0,
    "shared": [
      {
        "createdAt": "2025-10-02T21:38:15.451Z",
        "updatedAt": "2025-10-02T21:38:15.451Z",
        "role": "workflow:owner",
        "workflowId": "3tiHPw5yRh1lyanL",
        "projectId": "oJoLfKcqO99adkmg",
        "project": {
          "createdAt": "2025-08-13T13:30:27.086Z",
          "updatedAt": "2025-08-13T13:36:20.734Z",
          "id": "oJoLfKcqO99adkmg",
          "name": "Christopher Boyd <chrisboyd1993@gmail.com>",
          "type": "personal",
          "icon": null,
          "description": null,
          "projectRelations": [
            {
              "createdAt": "2025-08-13T13:30:27.086Z",
              "updatedAt": "2025-08-13T13:30:27.086Z",
              "userId": "62b02884-3b02-4521-9874-8f7930ebe0d2",
              "projectId": "oJoLfKcqO99adkmg",
              "user": {
                "createdAt": "2025-08-13T13:30:26.745Z",
                "updatedAt": "2025-10-04T04:07:37.000Z",
                "id": "62b02884-3b02-4521-9874-8f7930ebe0d2",
                "email": "chrisboyd1993@gmail.com",
                "firstName": "Christopher",
                "lastName": "Boyd",
                "personalizationAnswers": {
                  "version": "v4",
                  "personalization_survey_submitted_at": "2025-08-13T13:37:19.366Z",
                  "personalization_survey_n8n_version": "1.106.3",
                  "automationGoalDevops": [
                    "other"
                  ],
                  "automationGoalDevopsOther": "test",
                  "companyIndustryExtended": [
                    "it-industry"
                  ],
                  "companySize": "<20",
                  "companyType": "other",
                  "role": "it",
                  "reportedSource": "youtube"
                },
                "settings": {
                  "userActivated": false,
                  "easyAIWorkflowOnboarded": true
                },
                "disabled": false,
                "mfaEnabled": false,
                "lastActiveAt": "2025-10-04",
                "isPending": false
              }
            }
          ]
        }
      }
    ],
    "tags": []
  }
}