workflows/Billing_RAG_Agent.json
{
  "name": "Billing RAG Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a Billing Specialist. You have access to the billing documentation and history via the Vector Store tool.\n\nInput: {{ $json.query }}\n\nInstructions:\n1. Use the 'Billing Knowledge Base' tool to search for answers.\n2. Answer the user's question accurately based on the retrieved context.\n3. If you don't know, say 'I don't have that information in the billing records'."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [220, 0],
      "id": "billing_agent",
      "name": "Billing RAG Agent"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [180, 240],
      "id": "openai_model",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BP9v81AwJlpYGStD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 5
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [340, 240],
      "id": "billing_memory",
      "name": "Billing Memory"
    },
    {
      "parameters": {
        "name": "Billing Knowledge Base",
        "description": "Search for billing, invoices, and payment information"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [500, 240],
      "id": "billing_tool",
      "name": "Billing Knowledge Base"
    },
    {
      "parameters": {
        "tableName": "billing_documents",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePostgres",
      "typeVersion": 1,
      "position": [500, 440],
      "id": "billing_vector_store",
      "name": "Postgres Vector Store",
      "credentials": {
        "postgres": {
          "id": "D4g8S7jK9L2mN1bV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [500, 600],
      "id": "openai_embeddings",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "BP9v81AwJlpYGStD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 0],
      "id": "output_node",
      "name": "Set Output"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Billing RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Billing RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Billing Memory": {
      "ai_memory": [
        [
          {
            "node": "Billing RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Billing Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "Billing RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Billing Knowledge Base",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Billing RAG Agent": {
      "main": [
        [
          {
            "node": "Set Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
