workflows/Fraud_Classifier_Agent.json
{
  "name": "Fraud Classifier Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a Fraud Detection Specialist. Your goal is to analyze the incoming email and determine if it is potential fraud or phishing.\n\nInput:\n- Sender: {{ $json.sender }}\n- Body: {{ $json.email_text }}\n\nRules:\n1. Check for urgent requests for money or sensitive info.\n2. Check for mismatched sender domains.\n3. Check for poor grammar typical of scams.\n\nOutput:\nReturn a JSON object with:\n- is_fraud: boolean\n- reason: string (explanation)\n- confidence: number (0-1)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [220, 0],
      "id": "fraud_agent",
      "name": "Fraud Classifier Agent"
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [220, 220],
      "id": "openai_model",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BP9v81AwJlpYGStD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response",
              "name": "result",
              "value": "={{ $json.output }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [580, 0],
      "id": "output_node",
      "name": "Set Output"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Fraud Classifier Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Fraud Classifier Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Fraud Classifier Agent": {
      "main": [
        [
          {
            "node": "Set Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
