workflows/High_Priority_RAG_Agent.json
{
  "name": "High Priority RAG Agent",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "trigger",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a High Priority Support Specialist. You handle VIP clients and urgent issues.\n\nInput: {{ $json.query }}\n\nInstructions:\n1. Use the 'Priority Knowledge Base' tool to search for client-specific protocols.\n2. Provide a concise, action-oriented response.\n3. If the issue requires escalation, note that in the response."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [220, 0],
      "id": "priority_agent",
      "name": "High Priority RAG Agent"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [180, 240],
      "id": "openai_model",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BP9v81AwJlpYGStD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 5
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [340, 240],
      "id": "priority_memory",
      "name": "Priority Memory"
    },
    {
      "parameters": {
        "name": "Priority Knowledge Base",
        "description": "Search for VIP client protocols and urgent issue handling"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [500, 240],
      "id": "priority_tool",
      "name": "Priority Knowledge Base"
    },
    {
      "parameters": {
        "tableName": "priority_documents",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePostgres",
      "typeVersion": 1,
      "position": [500, 440],
      "id": "priority_vector_store",
      "name": "Postgres Vector Store",
      "credentials": {
        "postgres": {
          "id": "D4g8S7jK9L2mN1bV",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "text-embedding-3-small"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [500, 600],
      "id": "openai_embeddings",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "BP9v81AwJlpYGStD",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "response",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 0],
      "id": "output_node",
      "name": "Set Output"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "High Priority RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "High Priority RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Priority Memory": {
      "ai_memory": [
        [
          {
            "node": "High Priority RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Priority Knowledge Base": {
      "ai_tool": [
        [
          {
            "node": "High Priority RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Priority Knowledge Base",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Postgres Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "High Priority RAG Agent": {
      "main": [
        [
          {
            "node": "Set Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
